<form method="post" action="{{ path('parking_delete', {'id': parking.id}) }}" onsubmit="return confirm('Voulez vous supprimez ce parking ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parking.id) }}">
    <button class="btn btn-outline-danger">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
</form>
