<form method="post" action="{{ path('reclamation_delete', {'id_rec': reclamation.id}) }}" onsubmit="return confirm('Voulez vous supprimez cette réclamation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.id) }}">
    <div class="text-right">
       <button class="btn btn-danger">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    </div>
</form>
