<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Réclamation</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../assets/lib/venobox/venobox.css" rel="stylesheet">
    <link href="../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../assets/css/style.css" rel="stylesheet">


</head>
<body>

<!--==========================
  Header
============================-->
<header id="header" class="header-fixed">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
            <a href="/front" class="scrollto"><img src="../assets/img/logo.png" alt="" title=""></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Acceuil</a></li>
                <li><a href="/front#about">A propos</a></li>
                <li><a href="/speakers-details">Parking</a></li>

                <li><a href="/front#venue">Localisation</a></li>
                <li><a href="#hotels">Inscription</a></li>
                <li><a href="/front#gallery">Equipe</a></li>
                <li><a href="/front#sponsors">Sponsors</a></li>
                <li><a href="/front#contact">Contact</a></li>
                <li class="buy-tickets"><a href="/front#buy-tickets">Paiement</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
<main id="main" class="main-page">
<br>
    {{ include('reclamation/_form.html.twig') }}
    <br>
    <br>
    <!--==========================
        Footer
      ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="../assets/img/logo.png" alt="TheEvenet">
                        <p>Avec INSTAPARK vous pouvez payer pour un stationnement en rue et dans les parking couverts . Plus besoin de chercher de l’argent et de courir à l’horodateur. Payer sans argent ou ticket. Et si jamais par malheur votre voiture se fait enlever par la fourrière, pas de d'inquiétude avec l'app INSTAPARK vous pourrez savoir dans quelle fourrière elle a été emmener et même payer l'amande seulement en vous connectant a notre application en ligne .</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>



                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            Esprit,La Gazelle <br>
                            <br>
                            Tunis <br>
                            <strong>Phone:</strong> +216 26101992<br>
                            <strong>Email:</strong> instapark@esprit.tn<br>
                        </p>


                    </div>

                </div>
            </div>
        </div>


    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="../assets/lib/jquery/jquery.min.js"></script>
    <script src="../assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/lib/easing/easing.min.js"></script>
    <script src="../assets/lib/superfish/hoverIntent.js"></script>
    <script src="../assets/lib/superfish/superfish.min.js"></script>
    <script src="../assets/lib/wow/wow.min.js"></script>
    <script src="../assets/lib/venobox/venobox.min.js"></script>
    <script src="../assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="../assets/js/main.js"></script>
</body>
</html>
