{% extends'baseBack.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row mt-3">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Liste des Administrateurs</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">
    {{ include('admin/_form.html.twig') }}

    <button class="btn btn-info">
    <a href="{{ path('admin_index') }}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </button>
 </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}

